.idea/
/*.pub

/GeekShopping.ProductAPI/obj
/GeekShopping.ProductAPI/bin

/GeekShopping.Web/obj
/GeekShopping.Web/bin

/GeekShopping.IdentityServer/obj
/GeekShopping.IdentityServer/bin
/GeekShopping.IdentityServer/keys

/GeekShopping.CartAPI/obj
/GeekShopping.CartAPI/bin

/GeekShopping.CouponAPI/obj
/GeekShopping.CouponAPI/bin

/GeekShopping.MessageBus/obj
/GeekShopping.MessageBus/bin

/GeekShopping.OrderAPI/obj
/GeekShopping.OrderAPI/bin

/GeekShopping.PaymentAPI/obj
/GeekShopping.PaymentAPI/bin

/GeekShopping.Email/obj
/GeekShopping.Email/bin

/GeekShopping.PaymentProcessor/obj
/GeekShopping.PaymentProcessor/bin

/GeekShopping.APIGateway/obj
/GeekShopping.APIGateway/bin