.idea/
/*.pub

/GeekShopping.ProductAPI/obj
/GeekShopping.ProductAPI/bin

/GeekShopping.Web/obj
/GeekShopping.Web/bin

/GeekShopping.IdentityServer/obj
/GeekShopping.IdentityServer/bin
/GeekShopping.IdentityServer/keys

/GeekShopping.CartAPI/obj
/GeekShopping.CartAPI/bin